<%- include("_header") -%>


  <% if(typeof alert!= "undefined" && alert) { %>
    <p class="alert alert-danger px-5"><%= alert %></p>
  <% } %> 
  <% if(typeof message!= "undefined" && message) { %>
    <p class="alert alert-success px-5"><%= message %></p>
  <% } %> 

<div class="card bg-dark text-white ">
  <img src="/images/index.jpg" class="card-img rounded-0" alt="telescope">
  <div class="card-img-overlay ">
    <h1 class="card-title px-5 mt-5">Share My Space Dashboard</h1>
    <p class="card-title px-5 mt-3 mb-5">The Share My Space Dashboard brings together all the applications</br> specially developed by our engineers to prevent debris from satellite collisions.</p>
    <a class="btn-lg ml-5 mt-1 px-3 pt-2" href="http://sharemyspace.global/" target="_blank" role="button">About Us</a>

  </div>
</div>

<div class="card-deck justify-content-center mt-5 pt-3">
  
	 <div class="col-sm-3"><a href="https://indemn.herokuapp.com/">
	    <div class="card border-light">
	      <div class="card-body p-3 bg-white border border-dark rounded">
	    	<img src="/images/indemn.svg" width="80" height="80" class="d-inline-block mx-auto d-block" alt="indemn" ></a>
	  		<h5 class="card-title text-center mt-4">INDEMN</h5>
	    
	      </div>
	    </div>
	 </div>

	<div class="col-sm-3"><a href="http://fleetcontrolpanel.sharemyspace-calm.space/">
	    <div class="card border-light">
	      <div class="card-body bg-white border border-dark rounded">
	    	<img src="/images/fleet.svg" width="70" height="70" class="d-inline-block mx-auto d-block" alt="calm fleet control panel" ></a>
	    	<h5 class="card-title text-center mt-4">Fleet Control Panel</h5>
	        

	      </div>
	    </div>
	</div>
	<div class="col-sm-3"><a href="http://visualization.sharemyspace-calm.space/">
	    <div class="card border-light">
	      <div class="card-body  bg-white border border-dark rounded">
	    	<img src="/images/conjunction.svg" width="70" height="70" class="mx-auto d-block" alt="Conjunction" ></a>
	    	<h5 class="card-title text-center mt-4">Conjunction Panel</h5>
	        
	      </div>
	    </div>
	</div>

</div>

 

<%- include("_footer") -%>